@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    .styled-scrollbar::-webkit-scrollbar {
        width: 4px;
    }
    .styled-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .styled-scrollbar::-webkit-scrollbar-thumb {
        background: #d0d0d0;
        border-radius: 2px;
    }
}
